@import '../../styles/_mixin.scss';

.edit-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 330px;
  padding: 20px;

  label {
    font-size: 14px;
    @media #{$breakMobile} {
      flex-direction: column;
      align-items: flex-start;
    }

  }

  .input-container {
    display: flex;
    flex-direction: column;

    &__row {
      display: grid;
      grid-template-columns: 60px 1fr;
      align-items: center;
      grid-gap: 12px;
    }

    @media #{$breakMobile} {
      flex-direction: column;
      align-items: flex-start;
    }

    .inputtext {
      height: 32px;
      background: transparent;
      border: 1px solid darken(#CCC, 10%);
      color: #000;
      padding-left: 10px;

      &.ng-invalid {
        border-color: #ec3f3f;
      }

      @media #{$breakMobile} {
        width: 280px;
      }

      &:focus,
      &:hover {
        @include box-shadow(0 0 5px 0 rgba(102, 102, 102, 0.5));
      }
    }
  }
}

.text-validation {
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
  color: #ec3f3f;
}
